.wrap{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.widget{
  position:relative;
  margin-top: 10%;
  width: 300px;
  height: 400px;
  border: 1px solid black;
}
.widget>h2{
  padding-top: 10px;
}
.ring{
  display: flex;
  background: white;
  position: absolute;
  top: -80px;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.btn{
  border: 2px solid black;
  width: 80%;
  height: 15%;
  margin-right: auto;
  position: absolute;
  left: 10%;
  bottom: 5%;
}
.ring>i{
  font-size: 20px;
  color: red;
}
